<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><button type="button" class="btn btn-info">Principal</button></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/mensaje">
          <button type="button" class="btn btn-info">Mensaje</button></a>
        <a class="nav-link" routerLink="/sorteo">
          <button type="button" class="btn btn-info">Sorteo</button></a>
      </div>
    </div>
  </div>
</nav>

<router-outlet />
